@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.viewer-app-name {
    font-weight: bold;
    font-size: 2em;
    padding: 0;
    margin: 0;
    color: #3e8653;
}

.viewer-ticker-search input {
  width: 100%; 
  padding: 2% 3%; 
  font-size: 1.2em; 
  border: 2px solid #8c8c8c; 
  border-radius: 10px; 
  outline: none; 
  box-sizing: border-box; 
  background-color: #585757;
  color: white;
  font-family: "Space Mono", monospace;
  max-width: 100%; /* Set a max width for the input */
  zoom: 0.7;
}

.viewer-ticker-search input::placeholder {
  font-family: "Space Mono", monospace;
  color: #8c8c8c; 
  opacity: 0.7; 
}

.viewer-ticker-search input:focus {
  border-color: #46ad65; 
  box-shadow: 0 0 5px rgba(62, 134, 83, 0.5); 
}

.viewer-search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0%;
}

.viewer-search-button {
  background-color: #3e8653; /* Button background color */
  color: white; /* Icon color */
  border: none; /* Remove default border */
  border-radius: 8px; /* Rounded edges */
  padding: 45% 45%; /* Add padding */
  cursor: pointer; /* Change cursor to pointer */
  font-size: 1.2em; /* Adjust icon size */
  display: flex; /* Center the icon */
  align-items: center; /* Align icon vertically */
  justify-content: center; /* Align icon horizontally */
  margin: 0;
  transform: scale(0.75); /* Scale down to 80% of the original size */
  transform-origin: center; /* Ensure scaling happens from the center */
}

.viewer-search-button:hover {
  background-color: #46ad65; /* Change background on hover */
}

.viewer {
    text-align: center;
    cursor: default;
    overflow: hidden;
}
  
.viewer-header {
    background-color: #2f2f2f;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
}

.viewer-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding: 0 2.5%;
    background-color: #585757;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Add shadow for elevation */
    position: relative; /* Ensure it stays above other elements */
    z-index: 10; /* Place it above other content */
    border-radius: 8px;
}

.viewer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.viewer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    height: 100%;
    gap: 2%;
}

.viewer-sidebar {
    width: 35%;
    height: 100%;
    background-color: #3e3e3e;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.viewer-sidebar-buff {
  height: 10%;
}

.viewer-charts {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Distribute space evenly */
    height: 100%;
    margin: 0;
    width: 65%;
    background-color: #2f2f2f;
    box-sizing: border-box;
    border-radius: 8px;
    gap: 4%;
}

.viewer-graph {
    width: 100%;
    height: 50%;
    background-color: #3e3e3e;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.viewer-data {
  width: 100%;
  height: 50%;
  background-color: #3e3e3e;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.viewer-label-text {
  color: white;
  margin: 0;
  padding: 0;
}

.viewer-title {
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: "Space Mono", monospace;
}

.viewer-stats {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 1em;
}

.viewer-stats p {
  margin: 0;
  padding: 1.5%;
}

.viewer-stats-buff {
  width: 10%;
}

.viewer-stats-label {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  box-sizing: border-box;
  font-size: 1em;
  width: 40%;
}

.viewer-stats-vals {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: end;
  justify-content: space-evenly;
  box-sizing: border-box;
  font-size: 1em;
}

.viewer-value-green {
  color: #46ad65;
}

.viewer-value-red {
  color: #e63946;
}

.viewer-sentiment {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
  font-size: 1em;
  height: 100%;
}

.viewer-ratings {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  padding-bottom: 1em;
  box-sizing: border-box;
}

.viewer-ratings-buff {
  width: 10%;
}

.viewer-ratings-label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  font-size: 1em;
  width: 80%;
  gap: 5%;
}

.viewer-sentiment-buff {
  height: 10%;
}

.viewer-conclusion {
  height: 100%;
  display: flex;
  height: 35%;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  font-size: 1em;
}

.viewer-conclusion-text {
  width: 80%;
  height: 100%;
  font-size: 1em;
  color: white;
  text-align: justify;
}

.viewer-data-title {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  margin-bottom: 0;
  margin-top: 2%;
  padding: 0;
}


